{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}CarWash{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block body %}


<p id="demo"></p>
<div id="map" style="height: 400px; width: 50%;"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTP_VmiI-UFPa2i0yyqmCyajGWEcvGOAU&callback=getLocation">
</script>

<form action="" method="POST">{% csrf_token %}
    name : <input type="text" id="title">
    <input type="button" value="input" onclick="toStoreLocation()">
</form>

<script src="{% static 'carwash.js' %}"></script> 
{% endblock %}