{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}{{item.name}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{ item.image.image.url }}" /></div>
                        <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                    src="http://placekitten.com/200/126" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                        <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a>
                        </li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ item.name }}</h3>

                    <p class="product-description">{{ item.description }}</p>
                    <h4 class="price">current price: <span>{{ item.price }} $</span></h4>
                    <h4 class="price">Owner: <span>{{ item.user }} </span></h4>
                    <h4 class="price">Brand: <span>{{ item.brand }} </span></h4>
                    <!-- <p class="vote"><strong>Owner:  </strong><strong>{{ item.user }}</strong></p>
                    <h5 class="sizes">Brand:
                        <span class="size" data-toggle="tooltip" title="small">{{ item.brand }}</span>
                    </h5> -->
                    <h5 class="colors">Colors:

                        {{item.color}}
                        <!-- <span class="color blue"></span> -->
                    </h5>
                    {% if listingInWatch %}
                    <form action="{% url 'remove' id=item.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-heart"></i></button>
                    </form>
                    {% else %}
                    <form action="{% url 'add' id=item.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success"><i class="icon fa-regular fa-heart"></i></button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}