{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/4d0169ec99.js" crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>{{item.name}}</title>
</head>
<body>

    <nav style="background-color:#1A0B5B ; height: 80px; padding: 0;" class="d-flex align-items-center justify-content-around"> 
        <div>
            <a href="{% url 'index' %}" style="text-decoration: none; color: white;">
            <h1 class="brand" style="padding-top: 15px;">Tukma</h1>
        </a>
            
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <div>
            <ul class="links" style="padding-top: 15px;">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Car Wash</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'newpost' %}">New Post</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">New Post</a></li>
                {% endif %}
                <li><a href="#">Contacts</a></li>
                
            </ul>
        </div>
        <div class="icons">               
            <i class="icon fa-solid fa-cart-shopping"></i>
            <a href="{% url 'watchList' %}" style="text-decoration: none; color: white;">
            <i class="icon fa-regular fa-heart"></i>
            </a>
            {% if user.is_authenticated %} 
            <a href="{% url 'logout' %}" style="text-decoration: none; color: white;"><i class="fa-solid fa-right-from-bracket mx-2 logout"></i></a>
            {% else %}
            <a href="{% url 'login' %}" style="text-decoration: none; color: white;"><i class="icon fa-regular fa-user"></i></a>
            {% endif %}
        </div>
    </nav>


    
    <div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{ item.image.image.url }}" /></div>
						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ item.name }}</h3>
						
						<p class="product-description">{{ item.description }}</p>
						<h4 class="price">current price: <span>{{ item.price }} $</span></h4>
                        <h4 class="price">Owner: <span>{{ item.user }} </span></h4>
                        <h4 class="price">Brand: <span>{{ item.brand }} </span></h4>
						<!-- <p class="vote"><strong>Owner:  </strong><strong>{{ item.user }}</strong></p>
						<h5 class="sizes">Brand:
							<span class="size" data-toggle="tooltip" title="small">{{ item.brand }}</span>
						</h5> -->
						<h5 class="colors">Colors:
						
							{{item.color}}
							<!-- <span class="color blue"></span> -->
						</h5>
						{% if listingInWatch %}
                           <form action="{% url 'remove' id=item.id %}" method="POST">
                           {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-heart"></i></button>
                        </form>
                           {% else %}
                        <form action="{% url 'add' id=item.id %}" method="POST">
                          {% csrf_token %}
                         <button type="submit" class="btn btn-success"><i class="icon fa-regular fa-heart"></i></button>
                         </form>
                         {% endif %}
			    		</div>
				</div>
			</div>
		</div>
	</div>
  </body>


<!-- 
    <h1>{{item.name}}</h1>
    <p>{{item.user}}</p>
    <p>{{item.brand}}</p>
    <p>{{item.color}}</p>
    <p>{{item.description}}</p>
    <img src="{{ item.image.image.url }}" alt="image"> -->

</body>
</html>