{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tukma</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fdc9474d3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mynav">
        <nav class="nav"> 
            <div>
                <h1 class="brand">Tukma</h1>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
            <div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Car Wash</a></li>
                    <li><a href="#">New Post</a></li>
                    <li><a href="#">Contacts</a></li>
                    
                </ul>
            </div>
            <div class="icons">
                <i class="fa-light fa-heart"></i>
            </div>
        </nav>
        
    </div>
    
    <script src="{% static 'main.js' %}"></script>
</body>
</html>