{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tukma</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fdc9474d3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mynav">
        <nav class="nav"> 
            <div>
                <h1 class="brand">Tukma</h1>
            </div>
            <div>
                <ul class="links">
                    <li><a>Home</a></li>
                    <li><a>Shop</a></li>
                    <li><a>Car Wash</a></li>
                    <li><a>New Post</a></li>
                    <li><a>Contacts</a></li>
                </ul>
            </div>
            <div class="icons">
                <i class="fa-light fa-heart"></i>
            </div>
        </nav>
        <div class="sponser">
            <h1>LOOK GOOD</h1>
            <h1>DRIVE BETTER</h1>
        </div>
    </div>
    

</body>
</html>