{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tukma</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap" rel="stylesheet">
       <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://kit.fontawesome.com/4d0169ec99.js" crossorigin="anonymous"></script>
</head>
<body>
        <nav style="background-color:#1A0B5B ; height: 80px; padding: 0;" class="d-flex align-items-center justify-content-around"> 
            <div>
                <h1 class="brand" style="padding-top: 15px;">Tukma</h1>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
            <div>
                <ul class="links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Car Wash</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'newpost' %}">New Post</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">New Post</a></li>
                    {% endif %}
                    <li><a href="#">Contacts</a></li>
                    
                </ul>
            </div>
            <div class="icons">               
                <i class="icon fa-solid fa-cart-shopping"></i>
                <i class="icon fa-regular fa-heart"></i>

                {% if user.is_authenticated %} 
                <a href="{% url 'logout' %}" style="text-decoration: none; color: white;"><i class="fa-solid fa-right-from-bracket mx-2 logout"></i></a>
                {% else %}
                <a href="{% url 'login' %}" style="text-decoration: none; color: white;"><i class="icon fa-regular fa-user"></i></a>
                {% endif %}
            </div>
        </nav>

    <!-- Credit card form -->
<section>
    <div>
      <div class="col-md-12 mb-4">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex justify-content-center">
            <h4 class="mb-0" style="text-transform: uppercase;"><b>New Post</b></h4>
          </div>
          <div class="card-body">
            <form action="{% url 'save' %}" method="POST">
                {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="form-outline mb-4">
                <label class="form-check-label" for="sec1">Brand</label>
              <select name="brand" id="sec1" class="form-select" aria-label="Default select example">
                <option selected>Model</option>
                {% for brand in brands %}
                <option value="{{brand.name}}">{{brand.name}}</option>
                {% endfor %}
              </select>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form6Example3">Car name</label>
                <input name="carName" type="text" id="form6Example3" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-check-label" for="sec1">Model</label>
              <select name="model" id="sec1" class="form-select" aria-label="Default select example">
                <option selected>Model</option>
                {% for model in models %}
                <option value="{{model.year}}">{{model.year}}</option>
                {% endfor %}
              </select>
              </div>

            <div class="form-outline mb-4">
                <label class="form-check-label" for="sec2">Color</label>
                <select name="color" id="sec2" class="form-select" aria-label="Default select example">
                  <option selected>Color</option>
                  {% for color in colors %}
                  <option value="{{color.color}}">{{color.color}}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
  

              <label class="form-check-label " for="sec3"><b>Price</b></label>

              <div id="sec3" class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input name="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
              </div>

              <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Images</label>
                <input name="image" class="form-control" type="file" id="formFileMultiple" multiple>
              </div>

  
              <button class="btn post-button btn-lg btn-block" type="submit">
                Post
              </button>
            </form>
          </div>
        </div>
      </div>
  
    
    </div>
  </section>
  <!-- Credit card form -->


 <script src="main2.js"></script>
</body>
</html>