*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OdorMeanChey';;
}
.mynav{
    width: 100%;
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../static/lam4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.brand{
    color: #fff;
    font-size: 35px;
    margin-top: -12px;
    margin-left: 45px;
}

.nav {
    display: flex;
    justify-content: space-around;   
    color: #fff;
    padding-top: 40px;
}
.links{
    display: flex;   
    
}
.links li {
    margin-right: 35px;
    font-size: 20px;
}

.links  li a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}
.links li a:hover ,
.brand:hover,
.icon:hover
 {
    color: aqua; 
    transition: .4s ease-in-out;
    cursor: pointer;
}
.logout:hover{
    color: red;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.icons{
    color: #fff;
    display: inline-block;
    font-size: 20px;   
 
}
.icon {
    margin:9px;
}

.text {
    position: absolute;
    top: 60%;
    left: 10%;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: 2.6rem;
    right: 1.8rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.search {
    border: 1px solid rgba(0,0,0,0.4);  
    background-color: #fff;
    width: 90%;
    position: absolute;
    margin-top: -100px;
    z-index: 3;
   left: 5%;
    border-radius: 10px;
}
.search h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 3px;
}
.top-search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.bottom-search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 11px !important;
}
.bottom-search select {
    margin-right: 8px !important;
}
select {
    width: 200px; 
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}
button {
    display: flex !important;
    justify-content: center;
}




@media (max-width: 850px) {
    
    .toggle-button {
        display: flex;
        position: absolute;
        top: 33px;
        right: 70px;
    }
   
    .links {
        display: none;
        width: 100%;
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .icons{
        display: none;
        width: 100%;
    }
    .brand{
        position: absolute;
        left: 38px;
        top: 18px;
    }
    .links ul {
        width: 100%;
        flex-direction: column;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        padding: 0 1rem;
    }
    .links.active {
        display: flex;
        flex-direction: column;  
        margin-top: 50px;
        gap: 10px;
        background-color: rgba(0, 0, 0, .2);
        width: 850px;
    }
    .text {
        font-size: 22px;
        transition: .2s ease-in-out;
        position: absolute;
        top: 61%;
        left: 8%;
    }
   
}
.post-button{
    margin: auto !important;
    width:200px !important;
    color:#fff !important;
    background-color: #1A0B5B !important;
}
.post-button:hover {
    color: #1A0B5B !important;
    background-color: #fff !important;
    border: 1px solid #1A0B5B;
    box-shadow: 1px  1px 3px  #1A0B5B;
}

.p-card {
    border: 1px solid #fff;
 
  }
  
  .p-details {
    padding: 10px;
    border-radius: 0px;
    background: #fff;
    color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  

  
  .spec span {
    font-size: 13px;
  }
  
  .spec h6 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
  }
  
  .line{
  
    background-color: #fff;margin-top: 4px;margin-bottom: 4px;height: 0.2px;
  }

  .car-card:hover{
    cursor: pointer;
  }
 a {
    text-decoration: none;
 }